/* Main stylesheet for the website */

@import "fonts/mini-wakuwaku/stylesheet.css";

html {
  height: 100%;
}

body{
  background: #E99188 top center no-repeat fixed;
  background-size: cover;
  padding:0px;
  margin:0px;
}

p{
  text-align: left;
  font-family: 'mini-wakuwakuregular';
  color:#ffffff;
  font-size:0.75cm;
  /* text-shadow: #00000045 .0em .15em .0em */
  /* text-shadow: #00000080 .0em .15em .4em; */
}

div, img, p{
  padding:0px;
  margin:0px;
  border:0px;
}

img {
  /* Disable dragging the image */
  /* From https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}

a {
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
  /* text-shadow: 0px 0.12em 0vh #aae2e299; */
  text-shadow: 0px 0.12em 0vh #00000024;
}

a:hover {
  opacity: 0.3;
}

.flavorText {
  font-style: italic;
  opacity: 0.5;
  /* color: ; */
}

.columnHalf {
  vertical-align: middle;
  min-height: 1px;
  float: left;
  width: 50%;
}

.center-vid {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.mainTextDiv {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;
}

.textDiv {
  padding-top:4%;
  padding-left:15%;
  padding-right:15%;
  padding-bottom:4%;
}

.mainTextDiv p, .textDiv p {
  text-align:center;
}

.titleDiv {
  padding: 2%;
}

.titleDiv p {
  text-align: center;
  font-size: 2.4em;
  text-shadow: 0px 0.12em 0vh #777777;
}

.titleDiv img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.fixedCopyright {
  position: fixed;
  bottom:0%;
  width:100%;
  z-index: -5;
}

.aboluteCopyright {
  position: absolute;
  width:100%;
  z-index: -5;
}

.fixedCopyright p, .absoluteCopyright p {
  padding: 1vh;
  font-size: 3vh;
  text-align: center;
  vertical-align: center;
  color: #FFFFFF;
  opacity: 0.5;
}

.fixedCopyright p::before, .absoluteCopyright p::before {
  content: "2021 Day Lane";
}

.footerHomeLink {
  font-size: 1em;
  text-shadow: none;
  text-decoration: none;
}

.footerHomeLink::after {
  content: " (Back to Home)"
}

/* .flexJustifyRight {
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
  align-items: flex-end;
} */

.flexContainer {
  display: flex;
  flex: wrap;
  justify-content: center;
  flex-direction: reverse;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-end;
}

.flexContainer div {
  align-self: auto;
  flex-basis: 50%;
  max-width: 50%;
  max-height: 50%;
}

.flexContainer div img {
  width: 100%;
}

.flexBreak {
  flex-basis: 100%;
  height: 0;
}
