img {
  -webkit-filter: drop-shadow(0px 1vh 0vw #af3a3a80);
  filter: drop-shadow(0px 1vh 0vw #af3a3a80);
}

body{
  background: #a991a3;
}

.noPad{
  padding: 0px;
}

.workBoxR, .workBoxL{
  padding: 5% 2%;
}

.workBoxR p{
  text-align: right;
}
.workBoxL p{
  text-align: left;
}

.workBoxR div{
  float:right;
  margin-left: 2%;
}
.workBoxL div{
  float:left;
  margin-right: 2%;
}

.workBoxImg {
  width: 18%; /*28%*/
  padding: 1%;
}
.workBoxImg img {
  width: 100%;
}

.workBoxTitle{
  font-size: 5vh;
  /* font-style: italic; */
  white-space: normal;
  text-shadow: 0px 0.12em 0vh #af3a3a80;
}

.workBoxText {
  padding: 3% 1% 1% 1%;
  font-size: 4vh;
  text-shadow: 0px 0px 0px #00000000;
  /* text-shadow: 0px 0.12em 0vh #af3a3a80; */
}

.releaseDate {
  font-size: 0.75em;
  font-style: normal;
  opacity: 0.6;
}

a {
  color: #690e51;
}

a:hover div {
  opacity: 0.75;
}

@media all and (max-width: 50em) {
  .workBoxImg {
    width: 29%;
  }

  .workBoxTitle {
    font-size: 8vw;
  }

  .workBoxText {
    font-size: 6vw;
  }

}
